/*font*/
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@import "tailwindcss";
@import "katex/dist/katex.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*background: var(--background);
  color: var(--foreground);*/
  background-color: #493a8b; /* dark mode background */
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #999;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.ProseMirror h1 {
  font-size: xx-large;
}

.ProseMirror p {
  margin-bottom: 0.5rem;
}

.ProseMirror u {
  text-decoration: underline;
  text-decoration-color: #f63b3b; /* tailwind blue-500 */
}

.ProseMirror s {
  text-decoration: line-through;
}

.ProseMirror code {
  color: #29b935;
  padding: 3px;
  border-radius: 4px;
}

code {
  color: #29b935;
  padding: 3px;
  border-radius: 4px;
}

.math-node {
  background: #f1f5f9;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.95rem;
  color: #0a0a0a;
  user-select: none; /* prevent text highlight from appearing */
  -webkit-user-select: none; /* Safari / Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE / Edge */
  cursor: pointer;
}

.math-node:hover {
  background-color: #f0fdfa; /* soft mint */
}

.ProseMirror h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0.6rem 0;
}
.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.ProseMirror h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.4rem 0;
}
.ProseMirror blockquote {
  border-left: 4px solid #9ca3af;
  padding-left: 1rem;
  color: #4b5563;
  font-style: italic;
}
.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5rem;
}
